
@media (min-width: 640px) {

    .header_card .header_flexbox {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .header_info {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    .header_actions {
        gap: 16px;
    }

    .desktop_status {
        display: flex;
    }

    .mobile_status {
        display: none;
    }

    .user_name {
        display: block;
    }

    .profile_card p:nth-of-type(2) {
        display: none;
    }

}

@media (min-width: 768px) {

    main {
        padding: 32px;
        margin-right: 64px;
    }

    .grid {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-template-areas:
            "recent_activities_card income_card"
            "transactions_card transactions_card"
            "bills_card account_summary_card"
            "budget_card payment_methods_card";
    }

    .font-14px {
        font-size: 14px;
    }

    .line-height-20 {
        line-height: 20px;
    }

    .logo_name h1 {
        font-size: 36px;
        line-height: 40px;
    }

    .header_card,
    .recent_activities_card,
    .transactions_card {
        padding: 24px;
    }

    .profile_card p:nth-of-type(2) {
        font-size: 12px;
        line-height: 16px;
        display: block;
    }

    .summary_cards .summary_cards_grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .sidebar {
        display: block;
        background-color: white;
        scrollbar-width: thin;
        scrollbar-color: #9ca3af4d transparent;
        overflow-y: auto;
        border-left: 1px solid #e5e7eb;
        border-right: none;
        left: auto;
        right: 0;
        width: 64px;
        height: 100%;
        position: fixed;
        top: 0;
    }

    .logo_text,
    .nav_label,
    .action_label {
        display: none;
    }

    .sidebar_content {
        padding: 12px;
    }

    .logo_section {
        margin-bottom: 32px;
    }

    .logo_wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }

    .logo_wrapper .logo_icon {
        width: 40px;
        height: 40px;
    }

    .nav_list li {
        margin-bottom: 8px;
    }

    .nav_item {
        padding: 12px 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 14px;
        color: oklch(55.1% .027 264.364);
    }

    .nav_item:hover:not(.nav_item_active) {
        background-color: oklch(98.5% .002 247.839);
    }

    .nav_item_active {
        color: oklch(48.8% .243 264.376);
        background-color: oklch(97% .014 254.604);
        border: 1px solid oklch(93.2% .032 255.585);
    }

    .sidebar_quick_actions {
        margin-top: 32px;
    }

    .sidebar_quick_actions h3 {
        display: none;
    }

    .quick_actions_list {
        display: flex;
        flex-direction: column;
        gap: 18px;
    }

    .quick_actions_list button {
        cursor: pointer;
        text-align: left;
        border: none;
        border-radius: 12px;
        transition: all .2s;
    }

    .quick_actions_list button:hover {
        background-color: #00000005;
        transform: translate(2px);
    }

    button .action_icon {
        border-radius: 8px;
        flex-shrink: 0;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        transition: all .2s;
        display: flex;
        font-size: 16px;
    }

    .action_icon_blue {
        color: oklch(54.6% .245 262.881);
        background-color:
            color-mix(in oklab, oklch(62.3% .214 259.815) 10%, transparent);
    }

    .action_icon_green {
        color: oklch(62.7% .194 149.214);
        background-color:
            color-mix(in oklab, oklch(72.3% .219 149.579) 10%, transparent);
    }

    .action_icon_purple {
        color: oklch(55.8% .288 302.321);
        background-color:
            color-mix(in oklab, oklch(62.7% .265 303.9) 15%, transparent);
    }

    .action_icon_orange {
        color: oklch(64.6% .222 41.116);
        background-color:
            color-mix(in oklab, oklch(70.5% .213 47.604) 10%, transparent);
    }

}

@media (min-width: 1024px) {

    .summary_card p:nth-of-type(2) {
        font-size: 36px;
        line-height: 40px;
    }

}

@media (min-width: 1280px) {

    main {
        margin-right: 256px;
        padding: 32px;
    }

    .grid {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-template-areas:
            "recent_activities_card transactions_card transactions_card"
            "bills_card transactions_card transactions_card"
            "budget_card income_card payment_methods_card"
            "budget_card account_summary_card payment_methods_card";
    }

    .transactions_head_row th {
        padding: 12px 8px;
    }

    .transactions_body tr td {
        padding: 15px 8px;
    }

    .sidebar {
        width: 256px;
    }

    .logo_text,
    .nav_label,
    .action_label {
        display: block;
    }

    .sidebar_content {
        padding: 24px;
    }

    .logo_wrapper .logo_icon {
        width: 56px;
        height: 56px;
    }

    .logo_text h1 {
        font-size: 36px;
        line-height: 40px;
        font-weight: 700;
    }

    .nav_item {
        padding: 12px 16px;
        justify-content: flex-start;
        transition: all .3s;
    }

    .nav_label {
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
    }

    .sidebar_quick_actions h3 {
        display: block;
        margin-bottom: 16px;
        padding-inline: 8px;
    }

    .quick_actions_list {
        gap: 12px;
    }

    .quick_actions_list button {
        cursor: pointer;
        text-align: left;
        background: 0 0;
        border: none;
        border-radius: 12px;
        align-items: center;
        gap: 12px;
        padding: 12px;
        transition: all .2s;
        display: flex;
        font-size: 17px;
        line-height: 25px;
        font-weight: 500;
    }

}